.page-template-template-home {
	.logo {
		@include breakpoint(large) {
			margin-bottom:4rem;
		}
		margin-bottom:2rem;
	}
	.h1 {
		margin-bottom:2rem;
		@include breakpoint(large) {
			margin-bottom:4rem;
		}
	}
	p {
		margin-bottom:1rem;
	}
	.button {
		margin:2rem auto;
	}
}

