//Color Variables
$black:#231f20;
$white:#fff;
$orange:#ee3923;
$peach:#fdd6b5;
$gray:#bbbdc0;
$instagram:#231f20;
$facebook:#3B5998;
$twitter:#1DA1F2;

.black {
	color:$black;
}
.white {
	color:$white;
}
.orange {
	color:$orange;
}
.peach {
	color:$peach;
}
.gray {
	color:$gray;
}
.bg-black {
	background-color:$black;
}
.bg-white {
	background-color:$white;
}
.bg-orange {
	background-color:$orange;
}
.bg-peach {
	background-color:$peach;
}
.bg-gray {
	background-color:$gray;
}

//Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700,900');$sans:'Open Sans', sans-serif;
//100 400 700 900
$sans-serif:'Montserrat', sans-serif;

.center {
	text-align:center;
}
.left {
	text-align:left;
}
.right {
	text-align:right;
}
.weight-100 {
	font-weight:100;
}
.weight-400 {
	font-weight:400;
}
.weight-700 {
	font-weight:700;
}
.weight-900 {
	font-weight:900;
}

@mixin breakpoint($point) {
	@if $point == medium {
		@media screen and (min-width: 39.9376em) and (max-width: 64em) { @content ; }
	}
	@else if $point == small {
		@media screen and (max-width: 39.9375em) { @content ; }
	}
	@else if $point == large {
		@media screen and (min-width: 64.063em) { @content ; }
	}
	@else if $point == small-portrait {
		@media screen and (max-width: 39.9375em) and (orientation: portrait) { @content ; }
	}
}

//PIXAR
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}